/* 文章页面 */
.vp-posts {
  padding: 32px 42px !important;
}

.posts-container {
  max-width: 1600px !important;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 20px !important;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .posts-container {
    padding-top: 72px !important;
  }

  .avatar img {
    border-radius: 50%;
  }
}

.vp-doc-container.has-aside.is-posts {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 20px 0 !important;
}

.vp-doc-container has-sidebar has-aside .container {
  margin: 0 !important;
  max-width: 1560px !important;
}

.content-container {
  margin: 0 !important;
  max-width: 1480px !important;
}

.aside-container {
  width: 300px !important;
}

/* 版权信息容器 */
.vp-doc-copyright {
  h2 {
    border: none;
    padding-top: 0;

    .header-anchor {
      display: block;
      border-bottom: 4px solid var(--vp-c-brand-1);
      position: relative;
      font-size: 24px;
      padding: 12px 32px;
      color: var(--vp-c-brand-1);
      font-weight: 700;

      &::before,
      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        opacity: 1;
      }

      &::before {
        opacity: 1;
        width: 24px;
        height: 24px;
        left: 0;
        top: 0;
        margin: auto;
        background-size: 24px 24px;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%233fb887' d='M10.08 10.86c.05-.33.16-.62.3-.86c.3-.56.81-.85 1.5-.86c.45 0 .86.2 1.15.49c.28.31.47.74.47 1.17h1.8c-.02-.47-.11-.9-.3-1.3c-.15-.38-.38-.72-.68-1c-1.45-1.34-4.14-1.15-5.37.37c-1.29 1.67-1.32 4.59-.01 6.26c1.21 1.49 3.86 1.7 5.3.37c.31-.25.56-.56.76-.92c.16-.36.27-.74.28-1.15H13.5c0 .21-.07.4-.16.57c-.09.19-.21.34-.34.47c-.33.26-.72.4-1.14.4c-.36-.01-.66-.08-.89-.23a1.4 1.4 0 0 1-.59-.64c-.5-.9-.42-2.15-.3-3.14M12 2C6.5 2 2 6.5 2 12c.53 13.27 19.5 13.26 20 0c0-5.5-4.5-10-10-10m0 18c-4.41 0-8-3.59-8-8c.44-10.61 15.56-10.61 16 0c0 4.41-3.59 8-8 8'/></svg>");
      }

      &:hover {
        color: var(--vp-c-brand-1);
      }
    }
  }
}

[data-theme="dark"] .vp-doc-copyright .header-anchor::before {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%234ac99e' d='M10.08 10.86c.05-.33.16-.62.3-.86c.3-.56.81-.85 1.5-.86c.45 0 .86.2 1.15.49c.28.31.47.74.47 1.17h1.8c-.02-.47-.11-.9-.3-1.3c-.15-.38-.38-.72-.68-1c-1.45-1.34-4.14-1.15-5.37.37c-1.29 1.67-1.32 4.59-.01 6.26c1.21 1.49 3.86 1.7 5.3.37c.31-.25.56-.56.76-.92c.16-.36.27-.74.28-1.15H13.5c0 .21-.07.4-.16.57c-.09.19-.21.34-.34.47c-.33.26-.72.4-1.14.4c-.36-.01-.66-.08-.89-.23a1.4 1.4 0 0 1-.59-.64c-.5-.9-.42-2.15-.3-3.14M12 2C6.5 2 2 6.5 2 12c.53 13.27 19.5 13.26 20 0c0-5.5-4.5-10-10-10m0 18c-4.41 0-8-3.59-8-8c.44-10.61 15.56-10.61 16 0c0 4.41-3.59 8-8 8'/></svg>");
}

/* 自定义页面 */
.vp-page {
  padding: 48px 150px !important;
}

@media screen and (max-width: 768px) {
  .vp-page {
    padding: 24px 16px !important;
    min-width: 300px;
  }
}