/* 主页 */
.vp-home-hero.first {
  padding-top: 64px !important;
}

.hero-name {
  font-size: 4rem !important;
}

.hero-text {
  font-size: 2.75rem !important;
}

.action {
  margin-top: 10px !important;
}

.vp-home-box.vp-home-features {
  padding-top: 0px !important;
}

.item {
  transition: transform 0.3s;
}

.item:hover {
  transform: translateY(-5px);
}