:root {
  --vp-layout-max-width: 1660px;
  /** 主题颜色 */

  --vp-c-brand-1: #3FB887;
  --vp-c-brand-2: #2d8c66;
  --vp-c-brand-3: #5ecba9;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);

  /** 背景颜色 */

  /*
  --vp-c-bg: #fff;
  --vp-c-bg-alt: #f6f6f7;
  --vp-c-bg-elv: #fff;
  --vp-c-bg-soft: #f6f6f7;
  */

  /** 文本颜色 */

  --vp-c-text-1: rgb(60, 60, 67);
  --vp-c-text-2: rgb(60, 60, 67);
  --vp-c-text-3: rgb(60, 60, 67);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(120deg, var(--vp-c-brand-1) 30%, var(--vp-c-brand-2));
  --vp-home-hero-tagline: var(--vp-c-text-2);
  --vp-home-hero-text: var(--vp-c-text-1);
}

/** 深色模式 */
[data-theme="dark"] {
  --vp-c-brand-1: #4ac99e;
  --vp-c-brand-2: #3fa87d;
  --vp-c-brand-3: #68d3b1;
  --vp-c-brand-soft: rgba(131, 208, 218, 0.314);

  /*
  --vp-c-bg: #1b1b1f;
  --vp-c-bg-alt: #161618;
  --vp-c-bg-elv: #202127;
  --vp-c-bg-soft: #202127;
  */

  --vp-c-text-1: rgb(255, 255, 245);
  --vp-c-text-2: rgb(235, 235, 245);
  --vp-c-text-3: rgb(235, 235, 245);
}

.vp-icon {
  font-size: 1.3em;
}

/* 评论组件 */
.vp-comment {
  padding: 0 30px !important;
}
